* {
    font-family: "Lato", sans-serif;
}

.btn-danger {
    background-color: #E71800 !important;
    border: none !important;
}

.bg-image {
    background: url('../src/assets/hero.png');
    height: 551px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-weight: bolder !important;
}

h4 {
    font-weight: bolder !important;
}

.bg-red {
    background-color: #E71800 !important;
    width: 180px;
    height: 6px;
    border-radius: 8px;
    /* margin: 0 auto; */
}

.text-danger {
    color: #E71800 !important;
}

.cover {
    background: url('../src/assets/cover.png');
    height: 196px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}